.App {
  text-align: center;
}

::selection { background: #E3A81B; color:white; }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Dtt_box{
border-radius: 100%;

}
.box_two{
  background:linear-gradient(45deg, #FC575E 10%, #F7B42C 90%);
}
.boxButton{
  background: linear-gradient(90deg, #132660 10%, #0062cc 90%);
  border-radius: 20px !important;
}
.table_top_border{
  border-bottom: 2px solid #E9B743 !important;
}

.bottom_navi_gation .MuiBottomNavigationAction-label.Mui-selected{
  font-size: 10px !important;
}

.bottom_navi_gation .MuiBottomNavigationAction-label{
  font-size: 10px;
}

/* @media only screen and (max-width: 360px) {
.register-logo{
  width: 100% !important;
}
} */

.register-logo{
  width: 130px !important;
}



.yt-video-div{
  background-color: #2e3880;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 612px){
 .set-pool-and-supply{
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
 }
}

.stakeContainerCheck .MuiSelect-select.MuiSelect-select{
color: #da680f !important;
}


.roatate-image{
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}